   body{
      margin:0;
      padding:0;
   }
   /*logo*/
   .logo{
      margin-top:10%;
   }
   .logo img{
      width:40%;
      border:1px solid transparent;
      box-shadow:1px 3px 5px;
      height:50%;
      display:flex;
      margin:0 auto;
      border-radius:50%;
   }
   /*bio*/
   .bio{
      text-align:center;
      margin-top:5%;
      font-size:16px,2vw,18px;
      font-size:1rem;
      font-family:'oswald';
   }
   /*link social media*/
   .link-social{
      display:grid;
      gap:20px;
      text-align:center;
      margin-top:20%;
   }
   .link{
      animation:kedip 5s linear infinite;
   }
    @keyframes kedip{
      25%{opacity:1;}
      50%{opacity:0;}
      100%{opacity:1;}
   }
   .link-social a{
      text-decoration:none;
      color:black;
      font-size:16px,2vw,20px;
      font-size:1.5rem;
      border:1px solid transparent;
      box-shadow:5px 10px 15px;
      padding:5%;
      margin:2%;
      border-radius:10px;
      font-family:'oswald';
      transition: background-color 0.3s ease;
      
   }
      .link-social a:active{
         background-color:#353D98;
      }
      .footer{
         text-align:center;
         font-family:'oswald';
         font-size:1rem;
         padding:5%;
      }
            @media (min-width:30rem) {
.link-social a{
  font-size:16px;
  margin:1%;
  padding:3%;
}
.bio{
  font-size:16px;
}
}
@media (min-width:48rem) {
.link-social a{
  font-size:30px;
  margin:2%;
  padding:5%;
}
.bio{
  font-size:30px;
   }
}
@media (min-width:64rem) {
.link-social a{
  font-size:40px;
  margin:5%;
  padding:8%;
}
.bio{
  font-size:40px;
}
}
@media (min-width:90rem) {
.link-social a{
  font-size:50px;
  margin:8%;
  padding:11%;
}
.bio{
  font-size:50px;
}
}
